.delivery-info
  h2 О нас
  ul.catalog-breadcrumbs
    li.breadcrumb-item
      a(href='index.html') Головна
    li.breadcrumb-item.active(aria-current='page') О нас
  .main-promo__large(style='background-image: url("./img/about-promo.png")')
    .main-promo-description.text-uppercase Мы знаем
      span что Вам нужно!
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit.
    br
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lo

  .video-about
    video(width='100%' height='640', controls='' poster="./img/video-poster.png")
      source(src='http://techslides.com/demos/sample-videos/small.mp4', type='video/mp4')

  a(href='catalog.html').news-article__link Перейти к покупкам