section.main-promo
  .container-fluid
    .slider.main-promo-slider
      div
        .main-promo__large
          .main-promo-description
            a(href='#')
              img(src='./img/main-promo-large.png').img-fluid
            //a(href='#').dark-btn Узнать подробнее
      div.main-promo-left
        .main-promo-img(style='background-image: url("./img/main-promo-md.png");')
          .main-promo-description
            a(href='#') Здесь будет
              span классный оффер
            a(href='#').dark-btn Узнать подробнее
      div.main-promo-right
        .main-promo-img(style='background-image: url("./img/main-promo-sm.png");')
          .main-promo-description
            a(href='#') Здесь
              br
              | будет
              br
              | классный
              br
              | оффер
            a(href='#').dark-btn Узнать подробнее