section.main-promo
  .container-fluid
    .main-promo__large
      img(src='./img/main-promo-large.png').img-fluid
    .main-promo-row
      .main-promo-left(style='background-image: url("./img/main-promo-md.png");')
        .main-promo-description Здесь будет
          span классный оффер
      .main-promo-right(style='background-image: url("./img/main-promo-sm.png");')
        .main-promo-description Здесь
          br
          |будет
          br
          |классный
          br
          |оффер