section.main-promo
  .container-fluid
    a.main-promo__large(href='#')
      img(src='./img/main-promo-large.png').img-fluid
    .main-promo-row
      a.main-promo-left( href='#' style='background-image: url("./img/main-promo-md.png");')
        .main-promo-description Здесь будет
          span классный оффер
      a.main-promo-right(href='#' style='background-image: url("./img/main-promo-sm.png");')
        .main-promo-description Здесь
          br
          |будет
          br
          |классный
          br
          |оффер