section.banner-items
  .container-fluid
    .large-banner
      img(src='./img/banner.png').img-fluid
    .banner-row
      .banner-left(style='background-image: url("./img/banner-2.png");')
      .banner-right(style='background-image: url("./img/banner-3.png");')