.cart-modal(data-id='buy-complect')
  .cart-overlay
  .cart-modal__item
    .close
      +sprite('icon', 'close-ico')
    .cart-modal__item--body
      a(href='page.html').cart-modal__picture
        img(src='./img/catalog-img.jpg')
      .page-product-about
        .cart-product-body
          .cart-product__info.page-product
            .page-product-about--top
              h1.product-title !!!!FLOX BASIC
              .product-code АРТ: 555828
              .product-name Бюстгальтер - Мягкая  чашка - черный
            .product-info
              .product-price__item
                .product-price_new 700 ₴
                .product-price_old 800 ₴
            .product-parameters__list
              .product-parameters__title Цвет:
                span Бордо
              .product-parameters__color-list.catalog-filter
                .catalog-filter__position
                  input#black(type='radio' name='color').catalog-filter__position__check
                  label(for='black')
                    .color(style='background: black;')
                .catalog-filter__position
                  input#chocolate(type='radio' name='color').catalog-filter__position__check
                  label(for='chocolate')
                    .color(style='background: chocolate;')
                .catalog-filter__position
                  input#bordeaux(type='radio' name='color' checked='checked').catalog-filter__position__check
                  label(for='bordeaux')
                    .color(style='background: darkred;')
                .catalog-filter__position
                  input#blue(type='radio' name='color').catalog-filter__position__check
                  label(for='blue')
                    .color(style='background: blue;')
                .catalog-filter__position
                  input#white(type='radio' name='color').catalog-filter__position__check
                  label(for='white')
                    .color(style='background: white;')
                .catalog-filter__position
                  input#pearl(type='radio' name='color').catalog-filter__position__check
                  label(for='pearl')
                    .color(style='background: pearl;')
                .catalog-filter__position
                  input#beige(type='radio' name='color').catalog-filter__position__check
                  label(for='beige')
                    .color(style='background: beige;')
                .catalog-filter__position
                  input#powder(type='radio' name='color').catalog-filter__position__check
                  label(for='powder')
                    .color(style='background: powder;')
            .product-parameters__list
              .product-parameters__title Размер:
              .product-parameters__size-list
                .dropdown-list
                  select
                    option 95
                    option 95
                    option 105
                    option 95
                    option 95
                    option 95
                    option 95
                .dropdown-list
                  select
                    option A
                    option B
                    option C
                    option D
                    option E
                    option F
          .page-product__item
            h2 Покупка в один клик
            .page-product-parameters
              form(action='#')
                .form-row
                  .form-group
                    input(type='text' placeholder='Имя, фамилия').form-control
                .form-row
                  .form-group
                    input(type='text' placeholder='Телефон').form-control
                button(type='submit').dark-btn КУПИТЬ