.cart
  .cart-overlay
  .cart-item
    .cart-top
      .cart-top__title МОЯ КОРЗИНА
      .cart-top__continue-shop ПРОДОЛЖИТЬ ПОКУПКИ
    .cart-body
      +shop-position
      +shop-position
      +shop-position
    .cart-bottom
      .cart-total-cost
        span Общая стоимость:
        .cart-total-cost__price 700 ₴
      a(href='#').cart-check-button ЗАКАЗАТЬ