.catalog-filters
  .catalog-filters__title Бюсты
  .catalog-filters__reset Сбросить фильтр
    +sprite('close', 'close-ico')
  .catalog-filter
    .catalog-filter--title Все модели
    .catalog-filter__list
      .catalog-filter__position
        input#vanilla(type='checkbox' name='models').catalog-filter__position__check
        label(for='vanilla')
          .model-logo
          span Vanilla
      .catalog-filter__position
        input#lirio(type='checkbox' name='models').catalog-filter__position__check
        label(for='lirio')
          .model-logo
          span Lirio
      .catalog-filter__position
        input#viola(type='checkbox' name='models').catalog-filter__position__check
        label(for='viola')
          .model-logo
          span Viola
      .catalog-filter__position
        input#flox(type='checkbox' name='models').catalog-filter__position__check
        label(for='flox')
          .model-logo
          span Flox
      .catalog-filter__position
        input#fresia(type='checkbox' name='models').catalog-filter__position__check
        label(for='fresia')
          .model-logo
          span Fresia
      .catalog-filter__position
        input#azalea(type='checkbox' name='models').catalog-filter__position__check
        label(for='azalea')
          .model-logo
          span Azalea
      .catalog-filter__position
        input#astro(type='checkbox' name='models').catalog-filter__position__check
        label(for='astro')
          .model-logo
          span Astro
      .catalog-filter__position
        input#calla(type='checkbox' name='models').catalog-filter__position__check
        label(for='calla')
          .model-logo
          span Calla
      .catalog-filter__position
        input#magnolia(type='checkbox' name='models').catalog-filter__position__check
        label(for='magnolia')
          .model-logo
          span Magnolia
  .catalog-filter
    .catalog-filter--title Цвет
    .catalog-filter__list
      .catalog-filter__position
        input#black(type='checkbox' name='color').catalog-filter__position__check
        label(for='black')
          .color(style='background: black;')
          span Чорний
      .catalog-filter__position
        input#chocolate(type='checkbox' name='color').catalog-filter__position__check
        label(for='chocolate')
          .color(style='background: chocolate;')
          span Шоколад
      .catalog-filter__position
        input#bordeaux(type='checkbox' name='color').catalog-filter__position__check
        label(for='bordeaux')
          .color(style='background: bordeaux;')
          span Бордо
      .catalog-filter__position
        input#blue(type='checkbox' name='color').catalog-filter__position__check
        label(for='blue')
          .color(style='background: blue;')
          span Синій
      .catalog-filter__position
        input#white(type='checkbox' name='color').catalog-filter__position__check
        label(for='white')
          .color(style='background: white;')
          span Білий
      .catalog-filter__position
        input#pearl(type='checkbox' name='color').catalog-filter__position__check
        label(for='pearl')
          .color(style='background: pearl;')
          span Перлиний
      .catalog-filter__position
        input#beige(type='checkbox' name='color').catalog-filter__position__check
        label(for='beige')
          .color(style='background: beige;')
          span Бежевий
      .catalog-filter__position
        input#powder(type='checkbox' name='color').catalog-filter__position__check
        label(for='powder')
          .color(style='background: powder;')
          span Пудровий
  .catalog-filter
    .catalog-filter--title Цена
    .catalog-price__top
      .catalog-price__top-item от
        input.catalog-price--from(type='text' readonly='')
        | грн
      .catalog-price__top-item до
        input.catalog-price--to(type='text' readonly='')
        | грн
    #catalog-price
  .catalog-filter
    .catalog-filter--title Размеры
    .catalog-filter__list
      .catalog-filter_size-list
        .catalog-filter_size
          input#s-70(type='checkbox' name='size')
          label(for='s-70') 70
        .catalog-filter_size
          input#s-75(type='checkbox' name='size')
          label(for='s-75') 75
        .catalog-filter_size
          input#s-80(type='checkbox' name='size')
          label(for='s-80') 80
        .catalog-filter_size
          input#s-85(type='checkbox' name='size')
          label(for='s-85') 85
      .catalog-filter_size-list
        .catalog-filter_size
          input#a(type='checkbox' name='size')
          label(for='a') A
        .catalog-filter_size
          input#b(type='checkbox' name='size')
          label(for='b') B
        .catalog-filter_size
          input#c(type='checkbox' name='size')
          label(for='c') C
        .catalog-filter_size
          input#d(type='checkbox' name='size')
          label(for='d') D
        .catalog-filter_size
          input#e(type='checkbox' name='size')
          label(for='e') E
      .catalog-filter_size-list
        .catalog-filter_size
          input#s(type='checkbox' name='size')
          label(for='s') S
        .catalog-filter_size
          input#m(type='checkbox' name='size')
          label(for='m') M
        .catalog-filter_size
          input#l(type='checkbox' name='size')
          label(for='l') L
        .catalog-filter_size
          input#xl(type='checkbox' name='size')
          label(for='xl') XL
        .catalog-filter_size
          input#xxl(type='checkbox' name='size')
          label(for='xxl') XXL
  .catalog-filter
    .catalog-filter--title Модели
    .catalog-filter__list
      .catalog-filter__position
        input#balconet(type='checkbox' name='models').catalog-filter__position__check
        label(for='balconet') Балконет
      .catalog-filter__position
        input#triangular(type='checkbox' name='models').catalog-filter__position__check
        label(for='triangular') Трикутна чашка
      .catalog-filter__position
        input#classic(type='checkbox' name='models').catalog-filter__position__check
        label(for='classic') Класична чашка
      .catalog-filter__position
        input#smooth(type='checkbox' name='models').catalog-filter__position__check
        label(for='smooth') Гладка чашка (?)
  .catalog-filter
    .catalog-filter--title Косточки
    .catalog-filter__list
      .catalog-filter__position
        input#balconet(type='checkbox' name='models').catalog-filter__position__check
        label(for='balconet') С косточками
      .catalog-filter__position
        input#triangular(type='checkbox' name='models').catalog-filter__position__check
        label(for='triangular') Без косточек
  .catalog-filters__reset Сбросить фильтр
    +sprite('close', 'close-ico')