.catalog-filters
  .catalog-filters__title Бюсты
  .catalog-filters__reset Сбросить фильтр
    +sprite('close', 'close-ico')
  .catalog-filter
    .catalog-filter--title Все модели
    .catalog-filter__list
      .catalog-filter__position
        input#vanilla(type='checkbox' name='models')
        label(for='vanilla') Vanilla
      .catalog-filter__position
        input#lirio(type='checkbox' name='models')
        label(for='lirio') Lirio
      .catalog-filter__position
        input#viola(type='checkbox' name='models')
        label(for='viola') Viola
      .catalog-filter__position
        input#flox(type='checkbox' name='models')
        label(for='flox') Flox
      .catalog-filter__position
        input#fresia(type='checkbox' name='models')
        label(for='fresia') Fresia
      .catalog-filter__position
        input#azalea(type='checkbox' name='models')
        label(for='azalea') Azalea
      .catalog-filter__position
        input#astro(type='checkbox' name='models')
        label(for='astro') Astro
      .catalog-filter__position
        input#calla(type='checkbox' name='models')
        label(for='calla') Calla
      .catalog-filter__position
        input#magnolia(type='checkbox' name='models')
        label(for='magnolia') Magnolia
  .catalog-filter
    .catalog-filter--title Цвет
    .catalog-filter__list
      .catalog-filter__position
        input#black(type='checkbox' name='color')
        label(for='black') Чорний
      .catalog-filter__position
        input#chocolate(type='checkbox' name='color')
        label(for='chocolate') Шоколад
      .catalog-filter__position
        input#bordeaux(type='checkbox' name='color')
        label(for='bordeaux') Бордо
      .catalog-filter__position
        input#blue(type='checkbox' name='color')
        label(for='blue') Синій
      .catalog-filter__position
        input#white(type='checkbox' name='color')
        label(for='white') Білий
      .catalog-filter__position
        input#pearl(type='checkbox' name='color')
        label(for='pearl') Перлиний
      .catalog-filter__position
        input#beige(type='checkbox' name='color')
        label(for='beige') Бежевий
      .catalog-filter__position
        input#powder(type='checkbox' name='color')
        label(for='powder') Пудровий