.catalog-items
  .catalog-items__top
    .hide-desktop.delivery-info
      h2 Бюсты
    include ../components/breadcrumbs
    include ../components/catalog-dropdown
  .hide-desktop
    .catalog-filters__item Фильтр
  .catalog-items__body
    .catalog-items__catalog
      +catalog-position__new
      +catalog-position__new
      +catalog-position
      +catalog-position
      .product-item.catalog-offer
        .product-top
          a(href='#').product-picture
            img(src='./img/catalog-offer.jpg').img-fluid
      +catalog-position
      +catalog-position
      +catalog-position
      +catalog-position
    nav.catalog-items__nav
      ul.catalog-items__pagination
        li.page-item.disabled
          a.page-link.page-prev(href='#')
        li.page-item
          a.page-link.active(href='#') 1
        li.page-item
          a.page-link(href='#') 2
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link.page-next(href='#')
  .offer-description
    .offer-description__text(data-id="readMoreText1")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin
    .offer-description__link(data-link="readMoreText1" data-closetitle="Скрыть") Показать больше...