.hide-mobile.thanks-for-order
  .cart-top
    h2 Корзина
  .cart-body
    +shop-position
    +shop-position
    +shop-position
    .form-row
      .form-group
        input(type='text' placeholder='Введите ваш промокод').form-control
  .finish-order-list__info
    .finish-order-list__info-item
      span Ваша скидка:
      span.price 10 ₴
    .finish-order-list__info-item
      span Сумма доставки:
      span.price 10 ₴
    .cart-total-cost
      span Итоговая стоимость:
      .cart-total-cost__price 700 ₴