.currency-reserves
  .d-flex.align-items-center.mb-2.position-relative
    h2.my-0 Список счетов
  .item-wrapp
    .form-group
      .mt-0.default-btn.add-invoice.load-page(data-link='new-currency.html') Добавить счет
    form(action='#')
      .form-group
        input(type='search').form-control
        span.form-underline
        label Поиск по списку счетов
        button.search-btn
      .currency-bill-info
        .currency-info
          .currency-info__title Сбербанк РФ
          .currency-info__val RUB
        .currency-bill
          .currency-bill__code 2345 4234 3456 7565
          .currency-bill__info Константин Константинопольский
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
        .currency-bill
          .currency-bill__code 4564 5675 3453 5675
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
      .currency-bill-info
        .currency-info
          .currency-info__title Bitcoin
          .currency-info__val BTC
        .currency-bill
          .currency-bill__code 1Pwj8U … GLL5UWjtTsWQF27q
          .currency-bill__info Константин Константинопольский
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
        .currency-bill
          .currency-bill__code 1Pwj8U … GLL5UWjtTsWQF27q
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
        .currency-bill
          .currency-bill__code 1Pwj8U … GLL5UWjtTsWQF27q
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
        .currency-bill
          .currency-bill__code 1Pwj8U … GLL5UWjtTsWQF27q
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена
        .currency-bill
          .currency-bill__code 1Pwj8U … GLL5UWjtTsWQF27q
          .currency-bill__info Константин Константинопольский
          button.currency-btn(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu
            a(href='#').edit-bill
            .separate
            a(href='#').delete-bill(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            .dropdown-menu
              a(href='#').delete-bill__btn Удалить
              a(href='#').delete-bill__cansel Отмена