.delivery-info
  h2 Доставка и оплата
  ul.catalog-breadcrumbs
    li.breadcrumb-item
      a(href='index.html') Головна
    li.breadcrumb-item.active(aria-current='page') Доставка и оплата
  .container
    .delivery-info__body
      .delivery-info__item
        .delivery-info__item--ico
          +sprite('icon', 'delivery-ico')
        .delivery-info__item--top
          h4 Доставка:
          p Доставка проводится следующими компаниями,
            br
            |отправка в тот же день, при условии заказа до 17: 00
          .delivery-info__inner-item
            .delivery-info__item--top
              h4 Новая почта
              p Условия Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      .delivery-info__item
        .delivery-info__item--ico
          +sprite('icon', 'payment-ico')
        .delivery-info__item--top
          h4 Оплата:
          p Оплату можно провести любым удобным
            br
            |для Вас способом:
          .delivery-info__inner-item
            .delivery-info__item--top
              h4 Оплата онлайн
              p Условия Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .delivery-info__item--top
              h4 Наличная оплата
              p Условия Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.