#news.modal.fade.news(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-news(role='document')
    .modal-content
      .modal-body
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          +sprite('icon', 'close-ico')
        .section Новости
        .slider.single-item
          div
            .date 17 мая 2017
            h2 Производим переводы в Райффайзен банк.
            p Для жителей Вологодской области операция займет от 1го до 3х дней, для других регионов России срок утверждается отдельно. Осуществляется при участии курьера. Заявки принимаются круглосуточно, но в обработку поступают с 10:00 по Москве.
            .share-list
              span Поделиться:
              ul
                li
                  a(href='#').vk-ico.share-ico
                li
                  a(href='#').facebook-ico.share-ico
                li
                  a(href='#').od-ico.share-ico
              //.share42init(data-url="http://share42.com/ru" data-title="Share42.com - Скрипт кнопок социальных закладок и сетей" data-image="http://site.name/image.jpg" data-top1="110" data-top2="20" data-margin="-90")
          div
            .date 17 мая 2017
            h2 Производим переводы в Райффайзен банк.
            p Для жителей Вологодской области операция займет от 1го до 3х дней, для других регионов России срок утверждается отдельно. Осуществляется при участии курьера. Заявки принимаются круглосуточно, но в обработку поступают с 10:00 по Москве.
            .share-list
              span Поделиться:
              ul
                li
                  a(href='#').vk-ico.share-ico
                li
                  a(href='#').facebook-ico.share-ico
                li
                  a(href='#').od-ico.share-ico
              //.share42init(data-url="http://share42.com/ru" data-title="Share42.com - Скрипт кнопок социальных закладок и сетей" data-image="http://site.name/image.jpg" data-top1="110" data-top2="20" data-margin="-90")
          div
            .date 17 мая 2017
            h2 Производим переводы в Райффайзен банк.
            p Для жителей Вологодской области операция займет от 1го до 3х дней, для других регионов России срок утверждается отдельно. Осуществляется при участии курьера. Заявки принимаются круглосуточно, но в обработку поступают с 10:00 по Москве.
            .share-list
              span Поделиться:
              ul
                li
                  a(href='#').vk-ico.share-ico
                li
                  a(href='#').facebook-ico.share-ico
                li
                  a(href='#').od-ico.share-ico
              //.share42init(data-url="http://share42.com/ru" data-title="Share42.com - Скрипт кнопок социальных закладок и сетей" data-image="http://share42.com/i/logo.png" data-top1="110" data-top2="20" data-margin="-90")