.currency-reserves
  .d-flex.align-items-center.mb-2.position-relative
    h2.my-0 Мои операции
  form(action='#')
    .form-group
      input(type='search', required='').form-control
      span.form-underline
      label Дата, id, сумма, валюта
      button.search-btn
    .operations-date
      | 30 мая 2017
      .reload-date
  .operations-list
    .operations-item.completed-operations
      .operations-item__head
        .operations-item__monetary-information
          .value.application-status Qiwi
          .money 45 341
          .currency RUB
        .operations-item__monetary-information
          .value.application-status Bitcoin
          .money 0.000234
          .currency BTC
        .operations-status-items
          .application-status
            .operations-status Выполнена
            .operations-status-info
              span ID 21601
              span 09:40
          .operations-currency
            .currency_logo
              img(src='./img/svg/advanced-cash.svg' alt='')
            .currency_logo
              img(src='./img/svg/qiwi.svg' alt='')
          .show-more-info
      .operations-item__body
        .operation-status Перечислите 45 341 RUB на Qiwi кошелек…
        .update-status
          span Обновить статус
        .operation-footer
          a(href='#') Перейти к заявке
          a(href='#') Повторить обмен
    .operations-item.completed-operations
      .operations-item__head
        .operations-item__monetary-information
          .value.application-status Qiwi
          .money 45 341
          .currency RUB
        .operations-item__monetary-information
          .value.application-status Bitcoin
          .money 0.000234
          .currency BTC
        .operations-status-items
          .application-status
            .operations-status Выполнена
            .operations-status-info
              span ID 21601
              span 09:40
          .operations-currency
            .currency_logo
              img(src='./img/svg/advanced-cash.svg' alt='')
            .currency_logo
              img(src='./img/svg/qiwi.svg' alt='')
          .show-more-info
      .operations-item__body
        .operation-status Перечислите 45 341 RUB на Qiwi кошелек…
        .update-status
          span Обновить статус
        .operation-footer
          a(href='#') Перейти к заявке
          a(href='#') Повторить обмен
    .operations-item.waiting-operations
      .operations-item__head
        .operations-item__monetary-information
          .value.application-status Qiwi
          .money 45 341
          .currency RUB
        .operations-item__monetary-information
          .value.application-status Bitcoin
          .money 0.000234
          .currency BTC
        .operations-status-items
          .application-status
            .operations-status Ожидание Qiwi
            .operations-status-info
              span ID 21601
              span 09:40
          .operations-currency
            .currency_logo
              img(src='./img/svg/advanced-cash.svg' alt='')
            .currency_logo
              img(src='./img/svg/qiwi.svg' alt='')
          .show-more-info
      .operations-item__body
        .operation-status Перечислите 45 341 RUB на Qiwi кошелек…
        .update-status
          span Обновить статус
        .operation-footer
          a(href='#') Перейти к заявке
          a(href='#') Повторить обмен