section.new-products
  .container
    .title НОВИНКИ
    .slider.single-item
      div
        .product-item
          .products-top
            img(src='./img/product-1.png')
            ul.products-top__color
              li
                a(href='#').color.color-white
              li
                a(href='#').color.color-matterhorn
              li
                a(href='#').color.color-bridal-heath
              li
                a(href='#').color.color-metallic-copper
              li
                a(href='#').color.color-swirl
              li
                a(href='#').color.color-monarch
            a(href='#').products-top__quick-view Быстрый просмотр
          .product-body
            a(href='#').product-name__link FLOX BASIC
            p.product-name__description Бюстгальтеры - Мягкая чашка черный
            .product-price__item
              .product-price_new 700 ₴
              .product-price_old 900 ₴
            ul.product-size

      div
        h3 2
      div
        h3 3
      div
        h3 4
      div
        h3 5
      div
        h3 6
