section.news
  .container
    .news-article
      .news-image
        img(src='./img/news.png').img-fluid
      .news-article__description
        a(href='#').news-article__description--title НАЗВАНИЕ НОВОСТИ
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lo
        a(href='#').news-article__link Узнать подробнее
    .offer-item
      .large-banner
        img(src='./img/special-offer.png').img-fluid
      .offer-description
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin fermentum leo vel orci porta non pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Lacinia at quis risus sed vulputate odio ut enim. Ac turpis egestas sed tempus urna et pharetra pharetra. Consequat mauris nunc congue nisi vitae suscipit tellus. Euismod elementum nisi quis eleifend quam adipiscing vitae proin. In vitae turpis massa sed elementum. Aliquam etiam erat velit scelerisque in. Felis bibendum ut tristique et egestas quis ipsum suspendisse ultrices. Et netus et malesuada fames ac turpis. At risus viverra adipiscing at in tellus. Eu facilisis sed odio morbi quis. Vel turpis nunc eget lorem dolor sed viverra ipsum nunc. Sit amet volutpat consequat mauris nunc. Nec nam aliquam sem et. Consectetur a erat nam at lectus urna duis convallis convallis. Adipiscing bibendum est ultricies integer quis auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Proin
        a(href='#').offer-description__link Показать больше...