.page-product__slider-info
  .slider.slider-nav
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-offer.jpg')
    div
      img(src='./img/catalog-img.jpg')
  .slider.slider-for
    div
      a(href='page.html').product-add-favorites
        +sprite('icon', 'like-ico')
      img(src='./img/catalog-img.jpg')
    div
      a(href='page.html').product-add-favorites
        +sprite('icon', 'like-ico')
      img(src='./img/catalog-img.jpg')
    div
      a(href='page.html').product-add-favorites
        +sprite('icon', 'like-ico')
      img(src='./img/catalog-img.jpg')
    div
      a(href='page.html').product-add-favorites
        +sprite('icon', 'like-ico')
      img(src='./img/catalog-offer.jpg')
    div
      a(href='page.html').product-add-favorites
        +sprite('icon', 'like-ico')
      img(src='./img/catalog-img.jpg')