.d-block.page-about-info
  .masonry-layout.page-product-about
    .page-product-about--top
      h1.product-title FLOX BASIC
      .product-code АРТ: 555828
    p.product-description Бюстгальтер - Мягкая  чашка - черный
    .page-product-review__item--raiting
      .page-product-review__item--raiting-list
        .full
        .full
        .full
        .full
        .half
      span 4.8 / 5
      .reviews-count (125 отзывов)
.d-block.product-size-cover
  .masonry-layout.product-price__item.page-product-about__price
    .product-price_new 700 ₴
    .product-price_old 800 ₴