.page-product__other-size Просмотреть в других размерах:
  ul
    li
      a(href='#') 80А
    li
      a(href='#') 80А
    li
      a(href='#') 80А
    li
      a(href='#') 80А
    li
      a(href='#') 80А