.page-product__slider-info
  .slider.slider-for
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-offer.jpg')
    div
      img(src='./img/catalog-img.jpg')
  .slider.slider-nav
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-img.jpg')
    div
      img(src='./img/catalog-offer.jpg')
    div
      img(src='./img/catalog-img.jpg')