.d-block.other-size
  .masonry-layout.page-product__other-size
    span Просмотреть в других размерах:
    ul
      li
        a(href='#').status 80А
      li
        a(href='#') 80А
      li
        a(href='#') 80А
      li
        a(href='#') 80А
      li
        a(href='#') 80А