.page-product-assemble-set.hide-mobile
  h2 СОБЕРИ КОМПЛЕКТ
  .slider.page-product-assemble-set__slider.catalog-items__catalog
    div
      +catalog-position
    div
      +catalog-position
    div
      +catalog-position__new
    div
      +catalog-position__new
    div
      +catalog-position
    div
      +catalog-position__new