.d-block.page-compare-image
  .masonry-layout.page-product-compare-image
    h3 Дополни образ
    .product-kit.catalog-filter
      .product-kit-static
        a(href='page.html').product-img
          img(src='./img/catalog-img.jpg')
        a(href='page.html').product-name-link FLOX BASIC
        .product-kit__price
          .product-price_new 700 ₴
          .product-price_old 800 ₴
      .product-kit-plus
        +sprite('icon', 'plus-ico')
      .slider.product-kit__slider
        div
          .product-kit-static
            a(href='page.html').product-img
              img(src='./img/catalog-img.jpg')
            a(href='page.html').product-name-link FLOX BASIC
            .product-kit__price
              .product-price_new 300 ₴
              .product-price_old 400 ₴
        div
          .product-kit-static
            a(href='page.html').product-img
              img(src='./img/catalog-img.jpg')
            a(href='page.html').product-name-link FLOX BASIC
            .product-kit__price
              .product-price_new 700 ₴
              .product-price_old 800 ₴
        div
          .product-kit-static
            a(href='page.html').product-img
              img(src='./img/catalog-img.jpg')
            a(href='page.html').product-name-link FLOX BASIC
            .product-kit__price
              .product-price_new 300 ₴
              .product-price_old 400 ₴
        div
          .product-kit-static
            a(href='page.html').product-img
              img(src='./img/catalog-img.jpg')
            a(href='page.html').product-name-link FLOX BASIC
            .product-kit__price
              .product-price_new 700 ₴
              .product-price_old 800 ₴
    .product-full-price
      .product-price__item
        .product-price_new 700 ₴
        .product-price_old 900 ₴
      a(href='checkout.html' data-target="buy-complect").buy-click.leave-feedback ЗАКАЗАТЬ