.review-section
  .review-form
    span Оставить отзыв
    input(type='text' placeholder='Имя').form-control
    input(type='text' placeholder='Имя').form-control
    input(type='text' placeholder='Имя').form-control