section.thanks-for-order
  .container-fluid
    h2 Спасибо за ваш заказ №333847
    .finish-order-list
      .finish-order-list__body
        +finish-position
        +finish-position
        .cart-item__position
          a(href='#').cart-item__position--img
            img(src='./img/catalog-img.jpg')
          .cart-item__position--info
            a(href='#').position-name Flox basic
            .position-article АРТ: 555828
            .position-counter
              span.minus -
              input(type='text', value='1')
              span.plus +
            .position-info
              .position-info__item
                .position.position-color Цвет:
                  .position-color__item.black
                .position Размер:
                  span 80A
              .position-info__item.text-right
                .product-price_new 700 ₴
      .finish-order-list__info
        .finish-order-list__info-item
          span Ваша скидка:
          span.price 10 ₴
        .finish-order-list__info-item
          span Сумма доставки:
          span.price 10 ₴
        .cart-total-cost
          span Итоговая стоимость:
          .cart-total-cost__price 700 ₴