section.thanks-for-order
  .container-fluid
    h2 Спасибо за ваш заказ №333847
    .finish-order-list
      .finish-order-list__body
        +finish-position
        +finish-position
        +finish-position
      .finish-order-list__info
        .finish-order-list__info-item
          span Ваша скидка:
          span.price 10 ₴
        .finish-order-list__info-item
          span Сумма доставки:
          span.price 10 ₴
        .cart-total-cost
          span Итоговая стоимость:
          .cart-total-cost__price 700 ₴