.catalog-settings {
  .dropdown-list {
    min-width: 156px;
    font: normal 18px/21px $font-regular;
  }
  .dropdown-title {
    border: 1px solid transparent;
    color: #828282;
    padding: 7px 0 7px 15px;
  }
  .dropdown-select-list {
    top: 35px;
  }
}