.catalog {
  display: flex;
  margin-top: 20px;
  &-items {
    width: 100%;
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    &__body {
      display: flex;
      flex-direction: column;
    }
    &__catalog {
      display: flex;
      //flex-flow: row wrap;
      //justify-content: space-between;
      width: 100%;
      overflow: hidden;
      flex-wrap: wrap;
      margin: 0 -20px;
      .product-item {
        //max-width: 334px;
        margin: 0;
        flex: 0 0 33%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        &:hover .product-add-favorites {
          opacity: 1;
          visibility: visible;
        }
      }
      .product-top {
        height: initial;
        border: none;
        overflow: hidden;
        display: flex;
        a:not(.color) {
          width: 100%;
        }
        .product-picture {
          position: relative;
          //display: block;
          width: 100%;
          height: 100%;
          //background-size: cover;
          //background-position: center;
          //background-repeat: no-repeat;
          display: table-cell;
          vertical-align: middle;
          img {
            //position: absolute;
            //max-height: 100%;
            //max-width: 100%;
            display: block;
            width: 100%;
            //margin: 0 auto;
          }
        }
        img{
          display: flex;
        }
        .new-position {
          top: 0;
          left: 0;
          z-index: 1;
        }
        &__quick-view {
          height: 135px;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.3) 32.09%, rgba(0, 0, 0, 0.6) 63.33%);
          padding: 13px 0 25px;
          align-items: flex-end;
          display: flex;
          justify-content: center;
        }
      }
      .product-name__link {
        margin-top: 25px;
      }
      .product-body {
        padding-bottom: 25px;
      }
    }
  }
  &-offer {
    margin: 0 20px auto;
    img {
      max-width: 100%;
    }
  }
}
.product-add-favorites {
  position: absolute;
  right: 0;
  top: 27px;
  transition: .3s;
  fill: #838383;
  opacity: 0;
  visibility: hidden;
  .icon {
    width: 27px;
    height: 24px;
    transition: .3s;
  }
  &:hover, &.active {
    fill: #DBB7A6;
  }
}