.catalog {
  display: flex;
  &-items {
    &__body {
      display: flex;
      flex-direction: column;
    }
    &__catalog {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -20px;
      .product-top {
        height: auto;
      }
    }
  }
  &-offer {
    border: 2px solid #DBB7A6;
    margin: 0 20px auto;
  }
}