.page-product-assemble-set {
  h2 {
    text-transform: uppercase;
    font: normal 30px/35px $font-regular;
    color: $color_dark;
    margin-top: 50px;
    margin-bottom: 75px;
    text-align: center;
  }
  &__slider {
    margin-left: -20px;
    margin-right: -20px;
  }
}