.page-product-assemble-set {
  h2 {
    text-transform: uppercase;
    font: normal 30px/35px $font-regular;
    letter-spacing: .1em;
    color: $color_dark;
    margin-top: 30px;
    margin-bottom: 75px;
    text-align: center;
  }
  .catalog-items__catalog {
    .product-item {
      max-width: 310px;
      margin: 0 20px;
    }
    .product-top {
      min-height: 445px;
    }
  }
  &__slider {
    margin-left: -20px;
    margin-right: -20px;
  }
}