extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../includes/nav-list
  .container-fluid
    .catalog
      include ../sections/catalog-filters
      include ../sections/catalog-items

  include ../includes/footer