extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2.position-relative
      a.back-link(href='#')
      .settings-title
        h6.sidebar-tagtitle Настройки безопасности
        h2.sidebar-title Смена пароля
    form(action='#').settings
      .form-group
        input(type='password', required='').form-control
        span.form-underline
        label Текущий пароль:
      .form-group
        input(type='password', required='').form-control
        span.form-underline
        label Новый пароль:
      .form-group
        input(type='password', required='').form-control
        span.form-underline
        label Новый пароль, еще раз:
      .form-group
        button.send-btn Сменить пароль