extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2.position-relative
      a.back-link(href='#')
      .settings-title
        h6.sidebar-tagtitle Список счетов
        h2.sidebar-title Добавление счета
    .get-login
      p Будет достпен после входа в аккаунт.
      .get-login-with
        span Войти с помощью:
        ul
          li
            a(href='#').vk
          li
            a(href='#').facebook
          li
            a(href='#').od
      ul.nav.nav-tabs(role='tablist')
        li.nav-item
          a#login-tab.nav-link.active(data-toggle='tab', href='.login', role='tab', aria-controls='login', aria-selected='true') Вход
        li.nav-item
          a#registration-tab.nav-link(data-toggle='tab', href='.registration', role='tab', aria-controls='registration', aria-selected='false') Регистрация
      .tab-content
        .item-tabs.tab-pane.fade.show.active.login(role='tabpanel', aria-labelledby='login-tab')
          form(action='').settings
            .form-group
              input(type='email', required='').form-control
              span.form-underline
              label Логин или email:
            .form-group
              input(type='password', required='').form-control
              span.form-underline
              label Пароль:
            .form-group
              button.send-btn Войти
              a.have-account.load-page(data-link='change-password.html') Не могу вспомнить пароль
              a.have-account(data-toggle='tab', href='#registration', role='tab', aria-controls='registration', aria-selected='false') У меня нет аккаунта
        .tab-pane.item-tabs.fade.registration(role='tabpanel', aria-labelledby='registration-tab')
          form(action='').settings
            .form-group
              input(type='text', required='').form-control
              span.form-underline
              label Логин:
            .form-group
              input(type='email', required='').form-control
              span.form-underline
              label Email:
            .form-group
              input(type='password', required='').form-control
              span.form-underline
              label Пароль:
            .form-group
              input(type='password', required='').form-control
              span.form-underline
              label Пароль еще раз:
            .checkbox-form
              input#accept.styled-checkbox(type='checkbox', value='value1')
              label(for='accept').align-items-center Принимаю правила сервиса
            .form-group
              button.send-btn Зарегистрироваться
              a.have-account(data-toggle='tab', href='#login', role='tab', aria-controls='login', aria-selected='true') У меня уже есть аккаунт
