extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2.position-relative
      a.back-link(href='#')
      .settings-title
        h6.sidebar-tagtitle Список счетов
        h2.sidebar-title Добавление счета
    form(action='#').settings.was-validated
      .add-currency
        label Выберите валюту
        select(data-placeholder="валюта не выбрана" data-visible-options='5')
          option
          option(value='10') Advcash USD
          option(value='55') Alipay CNY
          option(value='14') Bitcoin Cash BCH
          option(value='54') Bitcoin Gold BTG
          option(value='53') Bitcoin SV BSV
          option(value='13') Bitcoin BTC
          option(value='52') Cardano ADA
          option(value='15') Dash DSH
          option(value='51') EOS EOS
          option(value='50') Ether Classic ETC
          option(value='16') Ethereum ETH
          option(value='49') ForteBank KZT
          option(value='48') HalykBank KZT
          option(value='45') Kaspi Bank KZT
          option(value='17') Litecoin LTC
          option(value='18') Monero XMR
          option(value='46') NEM XEM
          option(value='11') Payeer USD
          option(value='1') Perfect Money USD
          option(value='12') Qiwi RUB
          option(value='19') Ripple XRP
          option(value='59') Stellar XLM
          option(value='35') Tether ERC20 USDT
          option(value='34') Tether Omni USDT
          option(value='43') UnionPay CNY
          option(value='40') VISA/MC USD
          option(value='41') VISA/MC RUB
          option(value='42') VISA/MC UAH
          option(value='20') Waves WAVES
          option(value='3') Webmoney USD
          option(value='38') WeChat CNY
          option(value='21') Zcash ZEC
          option(value='44') Казкоммерц KZT
          option(value='47') Монобанк UAH
          option(value='56') Наличные USD
          option(value='57') Наличные RUB
          option(value='58') Наличные UAH
          option(value='5') Приват24 UAH
          option(value='7') Сбербанк RUB
          option(value='36') Тинькофф RUB
          option(value='6') Яндекс.Деньги RUB

      .other-info
        .form-group
          input(type='text', required='').form-control
          span.form-underline
          label Номер счета
          span Макс. кол-во символов - 100
            br
            | Разрешены только цифры и буквы
        .form-group
          input(type='text', required='').form-control
          span.form-underline
          label Название счета
          span не обязательно
        .form-group
          button.send-btn Сохранить
      .form-group
        .cansel-btn Отмена