extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../includes/nav-list
  .container-fluid
    include ../sections/about-info

  include ../includes/footer
  include ../sections/cart