extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../includes/nav-list
  .container-fluid
      .catalog-items
        .catalog-items__top
          include ../components/breadcrumbs
        .page-product
            .page-product__slider-info
                .slider.slider-for
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-offer.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
                .slider.slider-nav
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
                  div
                    img(src='./img/catalog-offer.jpg')
                  div
                    img(src='./img/catalog-img.jpg')
            .page-product__other-size Просмотреть в других размерах:
                ul
                    li
                        a(href='#') 80А
                    li
                        a(href='#') 80А
                    li
                        a(href='#') 80А
                    li
                        a(href='#') 80А
                    li
                        a(href='#') 80А
            .tabset
                input#tab1(type='radio', name='tabset', aria-controls='description', checked='')
                label(for='tab1').tab-header Описание
                input#tab2(type='radio', name='tabset', aria-controls='regular-customer')
                label(for='tab2').tab-header Состав
                .tab-panels
                  section#description.tab-panel
                    p Условия доставки...........Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque.  Условия доставки...........Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque.
                  section#regular-custome.tab-panel
                    p 1 Условия доставки...........Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque.  Условия доставки...........Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque. Vestibulum ut sem laoreet, feugiat tellus at, hendrerit arcu.Proin ac ex maximus, ultrices justo eget, sodales orci. Aliquam egestas libero ac turpis pharetra, in vehicula lacus scelerisque.
        .get-complect
            h2 СОБЕРИ КОМПЛЕКТ
            .slider.single-item
              div
                .product-item
                  .product-top
                    img(src='./img/product-1.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
              div
                .product-item
                  .product-top
                    img(src='./img/product-2.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
              div
                .product-item
                  .product-top
                    .new-position New
                    img(src='./img/product-3.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
              div
                .product-item
                  .product-top
                    img(src='./img/product-4.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
              div
                .product-item
                  .product-top
                    img(src='./img/product-4.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
              div
                .product-item
                  .product-top
                    img(src='./img/product-2.png').img-fluid
                    ul.product-top__color
                      li
                        a(href='#').color.color-white
                      li
                        a(href='#').color.color-matterhorn
                      li
                        a(href='#').color.color-bridal-heath
                      li
                        a(href='#').color.color-metallic-copper
                      li
                        a(href='#').color.color-swirl
                      li
                        a(href='#').color.color-monarch
                    a(href='#').product-top__quick-view Быстрый просмотр
                  .product-body
                    a(href='#').product-name__link FLOX BASIC
                    p.product-name__description Бюстгальтеры - Мягкая чашка черный
                    .product-price__item
                      .product-price_new 700 ₴
                      .product-price_old 900 ₴
                    ul.product-size
                      li
                        a(href='#').no-size 70
                      li
                        a(href='#') 80
                      li
                        a(href='#') 90
                      li
                        a(href='#').no-size 100
                      li
                        a(href='#').no-size 120
                      li
                        a(href='#').no-size 130
                    ul.dropdown-product
                      li
                        a(href='#') A
                      li
                        a(href='#') B
                      li
                        a(href='#') C
                      li
                        a(href='#').no-size D
                      li
                        a(href='#').no-size E
                      li
                        a(href='#').no-size F
        .review-section
            .review-form
                span Оставить отзыв
                input(type='text' placeholder='Имя').form-control
                input(type='text' placeholder='Имя').form-control
                input(type='text' placeholder='Имя').form-control
  include ../includes/footer
  include ../sections/cart