extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  .container-fluid
    .page-product
      .catalog-items__top
        include ../components/breadcrumbs
      .page-product-cover
        .product-about
          include ../sections/page-product-slider
          include ../sections/page-product-other-size
          include ../sections/page-product-description
          include ../sections/page-product-about
          include ../sections/page-product-parameters
          include ../sections/page-product-compare-image
      include ../sections/page-product-assemble-set
      include ../sections/page-product-reviews
      .page-product-assemble-set
        h2 Наша новая коллекция
        .slider.page-product-assemble-set__slider.catalog-items__catalog
          div
            +catalog-position
          div
            +catalog-position
          div
            +catalog-position__new
          div
            +catalog-position__new
          div
            +catalog-position
          div
            +catalog-position__new
      include ../sections/page-product-delivery-info
  include ../includes/footer
  include ../sections/cart
  include ../sections/buy-in-click
  include ../sections/buy-complect
  include ../sections/reviews-modal