extends ../extends/layout
block variables
  - var title = "exal.money"

block content
  .currency-reserves#content
    .d-flex.align-items-center.mb-2.position-relative
      a.back-link(href='#')
      h2.sidebar-title Настройки безопасности
    form(action='#').settings
      .form-group
        input(type='text', required='' value='azaza').form-control
        span.form-underline
        label Логин:
      .form-group
        input(type='text', required='' disabled='disabled' value='azaza@mail.ru').form-control
        span.form-underline
        label Email:
      .checkbox-form
        input#pass-recovery.styled-checkbox(type='checkbox', value='value1')
        label(for='pass-recovery') Разрешить восстановление пароля
      .checkbox-form
        input#email-notification.styled-checkbox(type='checkbox', value='value1')
        label(for='email-notification') Уведомление на email при входе
      .checkbox-form
        input#confirmation-email.styled-checkbox(type='checkbox', value='value1')
        label(for='confirmation-email') Вход с подтверждением через email
      .form-group
        button.send-btn Сохранить
        a(href='#' data-link='change-password.html').change-pass.load-page Сменить текущий пароль