extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../includes/nav-list
  .container-fluid
    .delivery-info
      h2 Таблица Размеров
      ul.catalog-breadcrumbs
        li.breadcrumb-item
          a(href='index.html') Головна
        li.breadcrumb-item.active(aria-current='page') Таблица Размеров
      .news-article-item
        .page-product-description.tabset.size-info
          input#tab1(type='radio', name='tabset', aria-controls='description', checked='').tab-description
          label(for='tab1').tab-header Бюстгалтер
          input#tab2(type='radio', name='tabset', aria-controls='regular-customer').tab-description
          label(for='tab2').tab-header Трусики
          .tab-panels
            section#description.tab-panel
              .size_chart
                .size-item
                  .size-item__title Обхват под грудью
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                .size-item
                  .size-item__title Размер чашки
                  .size-item__title.full-width Обхват груди
                .size-item
                  .size-item__title AA
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title A
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title B
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title C
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title D
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title E
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title F
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title G
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
            section#regular-custome.tab-panel
              .size_chart
                .size-item
                  .size-item__title Обхват под грудью
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                  .size-item__size 70 (68-72)
                .size-item
                  .size-item__title Размер чашки
                  .size-item__title.full-width Обхват груди
                .size-item
                  .size-item__title AA
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title A
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title B
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title C
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title D
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title E
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title F
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                .size-item
                  .size-item__title G
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
                  .size-item__size 88 - 88
  include ../includes/footer
  include ../sections/cart