extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../includes/nav-list
  .container-fluid
    .delivery-info
      h2 Таблица Размеров
      ul.catalog-breadcrumbs
        li.breadcrumb-item
          a(href='index.html') Головна
        li.breadcrumb-item.active(aria-current='page') Таблица Размеров
      .news-article-item
        .page-product-description.tabset.size-info
          input#tab1(type='radio', name='tabset', aria-controls='description', checked='').tab-description
          label(for='tab1').tab-header Бюстгалтер
          input#tab2(type='radio', name='tabset', aria-controls='regular-customer').tab-description
          label(for='tab2').tab-header Трусики
          .tab-panels
            section#description.tab-panel
              .table-responsive
                table.size_chart
                  thead
                    tr
                      th.header-main Обхват под грудью
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                  tbody
                    tr
                      th.header-main Размер чашки
                      th.header-main(colspan='7') Обхват груди
                    tr
                      th.header-side AA
                      td 88 - 88
                      td 88 - 88
                      td
                      td
                      td
                      td
                      td
                    tr
                      th.header-side A
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side B
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side C
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side D
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side E
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side F
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side G
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
            section#regular-custome.tab-panel
              .table-responsive
                table.size_chart
                  thead
                    tr
                      th.header-main Обхват под грудью
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                      th 70 (68-72)
                  tbody
                    tr
                      th.header-main Размер чашки
                      th.header-main(colspan='7') Обхват груди
                    tr
                      th.header-side AA
                      td 88 - 88
                      td 88 - 88
                      td
                      td
                      td
                      td
                      td
                    tr
                      th.header-side A
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side B
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side C
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side D
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side E
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side F
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                    tr
                      th.header-side G
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
                      td 88 - 88
  include ../includes/footer
  include ../sections/cart