extends ../extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ../includes/header
  include ../sections/thanks-for-order
  include ../includes/footer
  include ../sections/cart