footer.footer
  .container
    .footer-items
      ul.footer-menu
        li
          a(href='#') О бренде
        li
          a(href='#') Оплата и Доставка
        li
          a(href='#') Возврат и Обмен
        li
          a(href='#') Luna Club
        li
          a(href='#') Контакты
        li
          a(href='#') Каталог
        li
          a(href='#') Коллекции
        li
          a(href='#') Sale
        li
          a(href='#') Акции
        li
          a(href='#') Блог
      .footer-newsletter
        form(action='#').footer-newsletter__form
          label Подпишитесь на нашу рассылку
          .footer-newsletter__form-group
            input(type='text')
            button.form-btn Подписаться
        .footer-address
          .footer-address__info м.Київ, вул.Луговая 7
          a(href='mailto:lnfo@site.com').footer-address__info lnfo@site.com
          a(href='tel:+380440974323').footer-address__info +38 044 097 43 23
      .footer-links
        a(href='#').footer-logo
          +sprite('logo', 'logo')
        ul.footer-social
          li
            a(href='#')
              +sprite('icon telegram', 'telegram')
          li
            a(href='#')
              +sprite('icon viber', 'viber')
          li
            a(href='#')
              +sprite('icon facebook', 'facebook')
          li
            a(href='#')
              +sprite('icon instagram', 'instagram')

