.nav
  .container
    .nav-items
      a(href='index.html').logo
        img(src='./img/svg/logo.svg')
      ul.nav-list
        li
          a(href='catalog.html').active Все коллекции
        li
          a(href='catalog.html') Бюсты
        li
          a(href='catalog.html') Трусики
        li
          a(href='catalog.html') Боди
        li
          a(href='catalog.html') Топы
        li
          a(href='catalog.html')
            b Sale -30%
        li
          a(href='#') News
      a(href='#').offers Здесь будет оффер
      a(href='#').header-wish__link.header-wish
        +sprite('icon', 'like-ico')
        span.header-wish__link-counter 2
      a(href='#').header-wish__link.header-cart
        +sprite('icon-cart', 'cart-ico')
        span.header-wish__link-counter 2