.nav
  .container
    .nav-items
      a(href='#').logo
        img(src='./img/svg/logo.svg')
      ul.nav-list
        li
          a(href='#').active Все коллекции
        li
          a(href='#') Бюсты
        li
          a(href='#') Трусики
        li
          a(href='#') Боди
        li
          a(href='#') Топы
        li
          a(href='#')
            b Sale -30%
        li
          a(href='#') News
      a(href='#').offers Здесь будет оффер
      .header-wish
        a(href='#').header-wish__link
          +sprite('icon', 'like-ico')
          span.header-wish__link-counter 2
      .header-cart
        a(href='#').header-wish__link
          +sprite('icon-cart', 'cart-ico')