script(src="./js/main-libs.min.js")
script(src="./js/jquery-ui.min.js")
script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js')
script(src="./js/main.js")
