extends ./extends/layout
block variables
  - var title = "Luna lingerie"

block content
  include ./includes/header
  include ./includes/nav-list
  main
    include ./sections/banner
    include ./sections/new-products
    include ./sections/news
  include ./includes/footer