/* fonts */
$font: 'Roboto-Light';
$font-thin: 'Roboto-Thin';
$font-regular: 'Roboto-Regular';
$font-bold: 'Roboto-Bold';
$font-medium: 'Roboto-Medium';


/* color */
$color_default: #272727;
$color_white: #ffffff;
$color_dark: #000000;