.catalog-settings
  .dropdown-list
    .dropdown-title Популярные
    .dropdown-select-list
      .dropdown-select-list__item Популярные
      .dropdown-select-list__item Популярные
      .dropdown-select-list__item Популярные
      .dropdown-select-list__item Популярные