.catalog-settings
  a.nav-link.dropdown-toggle(href='#') Популярные
  .dropdown-menu
    a.dropdown-item(href='#') Популярные
    a.dropdown-item(href='#') Популярные
    a.dropdown-item(href='#') Популярные
