.contact-address
  p ООО «АКТИВ»
    br
    | 162616, Вологодская обл, Череповец, пр. Победы, д. 142, кв. 72
    br
    | ОГРН 1163525093016
    br
    | ИНН 3528261408
    br
    | КПП 352801001
    br
    | рс 40702810235330000536
    br
    | кс 30101810900000000910
    br
    | БИК 044030910
    br
    | САНКТ-ПЕТЕРБУРГСКИЙ РФ АО «РОССЕЛЬХОЗБАНК»