.contact-messengers
  p.description Операторы на связи 24 часа.
  .contact-info
    .contact-ico
      +sprite('icon', 'facebook-ico')
    .contact-info__item
      | Facebook messenger
      a(href='https://m.me/NewLineonline') @NewLineonline
  .contact-info
    .contact-ico
      img(src='./img/telegram-ico.png' alt='').icon
    .contact-info__item
      | Telegram
      a(href='tg://resolve?domain=NewLineonline') @NewLineonline
      a(href='tg://resolve?domain=NewLineOnline_bot') @NewLineOnline_bot
  .contact-info
    .contact-ico
      +sprite('icon', 'skype-ico')
    .contact-info__item
      | Skype
      a(href='skype:Exall?chat') Exall
  .contact-info
    .contact-ico
      +sprite('icon', 'viber-ico')
    .contact-info__item
      | Viber
      a(href='viber://chat?number=+79817827276') +79817827276
  .contact-info
    .contact-ico
      +sprite('icon', 'watsapp-ico')
    .contact-info__item
      | Watsapp
      a(href='whatsapp://send?phone=+79817827276') @NewLineonline
